
  
  .mobile_header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 16px 20px;
    z-index: 4;
}
  
  .zoom {
    display: none;
}
  
.bookmark {
    display: block!important;
    width: 45px;
    border-radius: 12px;
}
  
.bg-overlay {
	position: fixed;
    z-index: 9989;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    height: 100%;
    transition: opacity 500ms;
    visibility: hidden;
    display: flex;
    opacity: 0;
    background: rgb(9 12 16 / 57%);
    backdrop-filter: blur(4px);
    align-items: center;
    justify-content: center;
    gap: 44px;

	&:target {
		visibility: visible;
		opacity: 1;
	}
}

.subscribe-optin {
	position: relative;

	h2 {
		padding: 1rem 0;
	}

	.optin-close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 999;
		color: #000;
		font-size: 1rem;
		text-decoration: none;

		&:hover {
			color: $light;
			transition: color 500ms ease;
		}
	}

	form {
		
		label {
			display: none;
		}

		input {
			display: inline-block;
			padding: .5rem 1rem;
			outline: none;
			border: 1px solid $dark;
			text-transform: uppercase;
		}

		input[type=text],
		input[type=email] {
			padding: .5rem 1rem;
			width: 40%;
		}

		input[type=submit] {
			background: $dark;
			color: $light;

			&:hover {
				background: $light;
				color: $dark;
				transition: all 500ms;
			}

			&:active {
				box-shadow: inset 2px 2px 2px 0 $dark;
			}
		}
	}
}
  
  i.bi.bi-x {
    margin: 0;
    margin-bottom: 12px;
    color: #fff;
    font-size: 18px;
}
  
  
  iframe#demo {
    height: 250px;
    border-radius: 20px;
    border: 7px solid #181d25;
    background: #181d25;
}
  
  a:-webkit-any-link {
    background: #2f3745;
    width: -webkit-fill-available;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border-radius: 12px;
    color: #fff;
}
  
  .CAPT1 {
    width: -webkit-fill-available;
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
  
  i {
    background: #2f3745;
    width: -webkit-fill-available;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border-radius: 12px;
}
  
  .panel h3 {
    width: 100%;
    margin: 0 0 8px;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 8px;
    margin-top: 10px;
    color: #fff;
}
  
  button.botonback {
    display: none;
}
  
  header.polloheader {
    display: none;
}
  
  div#Label2 {
    display: none;
}
  
  h1.modrrrrr {
    display: none;
}
  

  div.consensus div.outer_ring {
    width: 50px;
    height: 50px;
    padding: 3px;
    margin-right: 10px;
}
div.consensus div.outer_ring {
    display: inline-block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    padding: 4px;
    background-color: #081c22;
}
  
  .poster::after{
    display:none;}
  
  #sidebar .widget, :is(#main, #slide) .widget:last-child {
    padding: 0 ;
}
  
  .container{
    padding:0;}
  
  .header_poster_wrapper.false {
    padding: 0;
}
  .header_info {
    padding: 15px;
}
  
  .image_content.backdrop {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 23px;
    background-position: center!important;
}
  
  
  .mobile_header.large {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 16px 20px;
    z-index: 4;
}
  
.content h2 {
    font-size: calc(.7em + 3vw);
    margin: 0;
}
  
  span.release_date {
    opacity: .8;
    font-weight: 400;
    font-size: .8em;
    margin-left: 0;
    box-sizing: border-box;
}
  
  .genre_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 10px;
    z-index: 0;
}
  
  .facts {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}
  
  span.certification {
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    align-content: center;
    padding: 0.06em 4px 0.15em!important;
    border: 1px solid rgb(255 255 255 / 60%);
    color: rgb(255 255 255 / 60%);
    line-height: 1;
    border-radius: 2px;
    padding: 0.06em 4px!important;
    margin-right: 7px;
}
  
  span.genres {
    order: 4;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
  
 span.runtime:before {
    font-size: 1.1em;
    line-height: 1;
    content: '';
    height: 5px;
    background-color: #ffffff;
    width: 5px;
    position: absolute;
    top: 8px;
    left: 12px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    z-index: -1;
    border-radius: 12px;
}
span.runtime {
    padding-left: 30px;
    position: relative;
    top: 0;
    left: 0;
}
  
  
  .header_info h3 {
    width: 100%;
    margin: 0 0 8px;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 8px;
    margin-top: 10px;
    color: #fff;
}
  
  
  h3.tagline {
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    opacity: .7;
    margin: 0 0 8px;
}
  
.profile p {
    margin: 0;
  padding-top: 20px;
    color: #fff;
}
  
  li.profile {
    width: 50%;
}
  
  ol.people.no_image {
    width: calc(100vw - 40px);
    padding-bottom: 0;
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
  p.character {
    color: #999;
    padding-top: 0px;
}
  
  .second_header.movie.true {
    display: none;
}
  
  ul.auto.actions {
    display: none;
}
  
  ol.people.scroller{
  display: grid;
    grid-auto-columns: 139px;
    grid-auto-flow: column;
    padding: 9px 0px;
    width: 100%;
    list-style: none;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    gap: 12px;
  
  }
  
  li.card {
    width: 139px;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0;
    border: 0;
    display: flex;
    scroll-snap-align: start;
    transition: all 0.2s;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    background: #283141;
    border-radius: 15px;
    padding-bottom: 12px;
}
  img.profile {
    width: 139px;
    border-radius: 15px 15px 0 0;
}
  
  li.filler.view_more {
    display: none; 
}
  
  p.new_button {
    display: none;
}
  
  p.character {
    color: #999!important;
    margin: 0;
}
  
  section.panel.top_billed.scroller {
    padding: 15px;
}
  
  .card p {
    color: #FFF;
    font-weight: 600;
    padding: 0 5px;
    margin: 5px 0;
}
  
  main {
    min-height: 100%;
    position: fixed;
    overflow: auto;
    
}
  
  div#PopularPosts3 {
    display: none;
}
  
 